.data-container {
    .all {
        padding: 10px;
        color: rgb(72, 72, 72);

        h2 {
            color: rgb(42, 42, 42);
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }
    .fuli {
        height: 250px;
        background-color: rgb(195, 195, 195);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
