extend ../component/templates/layout.jade
block vars
    - var title = "Ameizi with Gank.io"
block content
    include ../component/templates/header.jade
    div.container.clearfix#container(ng-app="ameizi")
        div(ng-view="")
