div.item-left#item-left
    div.item(ng-repeat="result in data" ng-if="$even")
        a(href="#/data/{[{ result.publishedAt }]}")
            div.item-img(style="background-image: url('{[{ result.url }]}')")
        div.item-time {[{ result.publishedAt }]}

div.item-right#item-right
    div.item(ng-repeat="result in data" ng-if="$odd")
        a(href="#/data/{[{ result.publishedAt }]}")
            div.item-img(style="background-image: url('{[{ result.url }]}')")
        div.item-time {[{ result.publishedAt }]}
