
<div id="data-container" class="data-container">
  <div style="background-image: url('{[{ data['福利'][0].url }]}')" class="fuli"></div>
  <div class="all">
    <h2>休息视频</h2>
    <ul class="list"><a href="{[{ result.url }]}" ng-repeat="result in data['休息视频']">
        <li>
          <p>{[{ result.desc }]}</p>
        </li></a></ul>
    <h2>Android</h2>
    <ul class="list"><a href="{[{ result.url }]}" ng-repeat="result in data['Android']">
        <li>
          <p>{[{ result.desc }]}</p>
        </li></a></ul>
    <h2>IOS</h2>
    <ul class="list"><a href="{[{ result.url }]}" ng-repeat="result in data['iOS']">
        <li>
          <p>{[{ result.desc }]}</p>
        </li></a></ul>
    <h2>前端</h2>
    <ul class="list"><a href="{[{ result.url }]}" ng-repeat="result in data['前端']">
        <li>
          <p>{[{ result.desc }]}</p>
        </li></a></ul>
    <h2>瞎推荐</h2>
    <ul class="list"><a href="{[{ result.url }]}" ng-repeat="result in data['瞎推荐']">
        <li>
          <p>{[{ result.desc }]}</p>
        </li></a></ul>
    <h2>拓展资源</h2>
    <ul class="list"><a href="{[{ result.url }]}" ng-repeat="result in data['拓展资源']">
        <li>
          <p>{[{ result.desc }]}</p>
        </li></a></ul>
  </div>
</div><script type="text/javascript" src="/javascripts/vendors.js?877c8a05f4a8c00ee78b"></script>